<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<table border="0" width="400px" align="center">
    <tr><td colspan="2" align="center"><h1>Register</h1></td></tr>
    <form method="post" action="{{ url_for('register') }}">

        <h2><tr><td>Name : </td><td></td></tr></h2>
        <h2><tr><td>Lastname : </td><td></td></tr></h2>
        <h2><tr><td>Email : </td><td></td></tr></h2>

            <tr><td colspan="2" align="center"><li style="color:red"></li></td></tr>
            <script language="JavaScript">alert("กรุณาป้อน Email ให้ถูกต้อง");</script>

        <h2><tr><td>Username : </td><td>  </td></tr></h2>
        <h2><tr><td>Password : </td><td>  </td></tr></h2>

            <tr><td colspan="2" align="center"><li style="color:red"></li></td></tr>
            <script language="JavaScript">alert("กรุณาป้อนรหัสผ่านอย่างน้อย 8-12 ตัว");</script>

        <tr><td colspan="2" align="center"><input type="submit" value="Submit"/></td></tr>
    </form>
</table>
</table>
</body>
</html>